.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: top 0.5s;
    font-family: 'Inter', sans-serif;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo img {
        height: auto;
        width: 140px;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 25px;

        .header__link {
            text-decoration: none;
            color: #111;
            font-weight: 500;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #007bff;
            }

            svg {
                fill: #111;
                transition: fill 0.3s;
            }

            &:hover svg {
                fill: #007bff;
            }
        }

        @media (max-width: 768px) {
            position: absolute;
            right: -100%;
            top: 0;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 100vh;
            background-color: #ffffff;
            transition: right 0.5s;

            &.active {
                right: 0;
            }
        }
    }

    &__burger {
        display: none;

        @media (max-width: 768px) {
            min-width: 40px;
            width: 40px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            z-index: 11;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #111;
                position: relative;
                transition: all 0.5s;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #111;
                    transition: all 0.5s;
                }

                &::before {
                    top: -10px;
                }

                &::after {
                    top: 10px;
                }
            }

            &.active span {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}